<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo unxderline-a hidden-xs" href="/"> <span class="logo-part">SellGiftcard.</span><span class="logo-part"><span class="red">N</span><span class="green">Y</span><span class="blue">C</span></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="underline-a" href="/">Sell My Giftcard</a></li>
        <li> <%= link_to 'We Buy', sell_path , :class => 'underline-a'%></li>
        <li> <%= link_to 'About Us', about_path , :class => 'underline-a'%></li>

        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% unless current_page?(url_for(:controller => 'pages', :action => 'about')) %>
<div class="container">
<div class="row">
  <div class="address">
    <div class="col-sm-8">
    <a href="https://www.google.com/maps/place/119-16+Jamaica+Ave+11418+ny" class="pull-left hidden-xs addr">Queens #1: 119-16 Jamaica Ave, NY, 11418</a> <br/>
    <a href="https://www.google.com/maps/dir/Current+Location/8710+Lefferts+BLVD+Richmond+Hill+NY+11418" class="pull-left hidden-xs addr">Queens #2: 8710 Lefferts BLVD, Richmond Hill, NY, 11418</a>
      </div>
    <div class="col-sm-4">
      <a href="mailto:webuygoodsny@gmail.com" class="hidden-xs addr pull-right">webuygoodsny@gmail.com</a><br/>
      <a href="tel:+1-718-846-1600" class="pull-right hidden-xs addr">+1 (718) 846-1600 </a>

    </div>
      <div class="mobile-address">
      <a href="tel:+1-718-846-1600" class=" visible-xs btn btn-default btn-lg"><i class="fa fa-phone"></i> +1 (718) 846-1600</a>
        <br/>
      <a href="https://www.google.com/maps/place/119-16+Jamaica+Ave+11418+ny" class=" visible-xs btn btn-default btn-lg"><i class="fa fa-map-marker"></i> Location in Queens #1</a>
        <br/>
        <a href="https://www.google.com/maps/dir/Current+Location/8710+Lefferts+BLVD+Richmond+Hill+NY+11418" class="btn btn-default btn-lg visible-xs addr"> <i class="fa fa-map-marker"></i> Location in Queens #2</a>
    </div>
  </div>
</div>
</div>
    <hr/>
<% end %>