
<%
   meta title: "Sell My Gift Cards in Brooklyn",
        description: "We buy Gift Cards in Brooklyn for top cash.
         Highest prices paid for your gift cards. Top dollar for Gift Cards in Brooklyn.",
        keywords: %w(Sell Giftcards Giftcard top cash gift cards
         money NYC Queens Manhattan Brooklyn New York Buy card City)
%>





<div class="container-fluid mobile">
  <div class="row main-info">
    <h1> <strong>Where can I sell my gift cards in Brooklyn  </strong>? </h1>
    <img src="/card.jpg" width="300" class="img center-block hidden-xs" alt="sell hermes handbags new york"/>
    <h2>We are number one giftcards buyer in Brooklyn.</h2>
    <p>
      If you have any gift cards that you want to sell we are here for you. Our location: 119-16 Jamaica Ave, Jamaica, NY, 11418. Call us right now or come in person and you will get your best offer.
    </p>
    <h2>Top dollar for your gift cards in Brooklyn.</h2>
    <p>
      We buy all gift cards in Brooklyn Area. So if you are looking for a place that will
      buy our items, you are on the right way.
    </p>
  </div>
</div>