
<%
   meta title: "Sell My Gift Cards In NYC",
        description: "We Buy Gift Cards in NYC, Queens, Manhattan and Brooklyn for top cash. Sell Your
        Gift Cards. Top dollar for Gift Cards.",
        keywords: %w(Sell Giftcards Giftcard top cash gift cards
         money NYC Queens Manhattan Brooklyn New York Buy card City)
%>





<div class="container-fluid mobile">
  <div class="row main-info">
  <h1><strong>Where to sell my gift cards in NYC</strong> ?</h1>
    <img src="/card.jpg" width="300" class="img center-block hidden-xs" alt=""/>
    <h3 class="upto">GET UP TO 94% FOR YOUR GIFT CARDS!!!</h3>
    <h2>We are number one gift cards buyers in NYC.</h2>
    <p> Welcome to our website sell GiftCard.NYC. As you already know we buy all sorts of gift cards.
      When you have unused credits in the store in a form of a gift card or you actually received gift
      card as a present to a store that you will never shop – you can always sell your gift card to us.
      We will pay you top dollar even though you don't have receipt or your receipt has been expired.</p>
    <h2>You can sell your giftcard for highest price in NYC.</h2>
    <p>So if you want to <strong> sell your giftcards</strong> in NYC we are here for you. We have two places, one in
    Queens and one in Manhattan, where you can come in person with your cards. Our specialists know everything
      about giftcards in New York City. So for sure you will get the best service and<strong> top dollar for your items</strong>.
    You can call us to schaduale an apointment or get some information. </p>
    <h2>Best place to sell gift cards in New York City Area.</h2>
    <p><strong>We buy all giftcards </strong>from major Brands and Stores. You can always check full list in menu.
      If you did not find you items there
    feel free to call us or to come to our locations, may be we just forget to write it here.</p>
    <h2>Where to sell your giftcards in NYC?</h2>
    <p>Of course<strong> the best way to sell your handbags </strong>is to bring them streight to our places, but also feel free
      to call us for any information <br/> tel: +1 (718) 846-1600.</p>
    <p>We don't purchase any lost or stolen items. Please make sure to have identification and to be over the age of 18.</p>
</div>
</div>