
<%
   meta title: "Sell My Giftcards in Manhattan",
        description: "We buy Giftcards in Manhattan for top cash.
         Highest prices paid for your giftcards. Top dollar for Giftcards in Manhattan.",
        keywords: %w(Sell Manhattan Giftcards Giftcard top cash gift cards
         money NYC Queens Manhattan Brooklyn New York Buy card City)
%>





<div class="container-fluid mobile">
  <div class="row main-info">
    <h1> <strong>Where can I sell my giftcards in Manhattan  </strong>? </h1>
    <img src="/card.jpg" width="300" class="img center-block hidden-xs" alt="sell hermes handbags new york"/>
    <h2>We are number one giftcards buyer in Manhattan.</h2>
    <p>
      If you have any giftcards that you want to sell we are here for you. Our location: 71 west 47 Street
      Midtown, New York, NY, 10036. Call us right now or come in person and you will get your best offer.
    </p>
    <h2>Top dollar for your giftcards in Manhattan.</h2>
    <p>
      We buy all giftcards in Manhattan Area. So if you are looking for a place that will
      buy our items, you are on the right way.
    </p>
  </div>
</div>