
<%
   meta title: "Place To Sell My Giftcards In NYC",
        description: "We Buy Giftcards in NYC, Queens, Manhattan and Brooklyn for top cash. Sell Your
        Giftcards. Top dollar for Giftcards.",
        keywords: %w(Sell Giftcards Giftcard top cash gift cards
         money NYC Queens Manhattan Brooklyn New York Buy card City)
%>




<div class="container-fluid mobile">
  <div class="row main-info">
    <h1><strong>Where can I sell my giftcards in New York City</strong> ?</h1>
    <img src="/card.jpg" width="300" class="img center-block hidden-xs" alt=""/>
    <h2>We Buy All Giftcards From All Brands And Stores.</h2>
    <p>You can come straight to our location or call us for more information. We are number one
    giftcards buyer in NYC. We always pay more. You can be sure that you will get top cash for your goods.
    </p>
    <p>We don't purchase any lost or stolen items. Please make sure to have identification and to be over the age of 18.</p>
  </div>
</div>